  <div class="w-section header">
    <div class="w-clearfix navbar">
      <a href="index.html" class="w-clearfix w-inline-block logo"><%= image_tag("candy_piece of pie.png", height: "50", class: "logo-image") %>
        <div class="logo-text">Melt</div>
      </a>
      <div class="nav-menu"><a href="#how-it-works" class="nav-link">How it works</a>
      </div>
    </div>
  </div>
  <div class="w-section content header-content">
    <div>
      <h1>automate customer delight.</h1>
      <p class="header-paragraph">Deliver physical gifts to your customers via the Melt API. Drive word of mouth growth and increase life-time value with chocolates, flowers and hand-written notes customized for each customer. No buying, shipping or logistics. Just Melt.</p>
      <div class="email-form">
        <div class="w-form">
          <form id="email-form" name="email-form">
            <input id="email" type="email" placeholder="Email" name="email" data-name="Email" required="required" class="w-input sign-up-form">
            <input type="submit" data-wait="Please wait..." value="Request Beta Access" class="w-button sign-up-button">
          </form>
          <div class="w-form-done success">
            <p>Thank you! We will be in contact soon regarding Beta access.</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="how-it-works" class="tan-div">
    <div class="w-section content mid-content">
      <h2>How it works.</h2>
      <p>Melt is an API layer that automates sending small custom gifts. Here's how it works:</p>
      <div class="how-it-works-row">
        <div class="w-row">
          <div class="w-col w-col-4 w-col-stack">
            <h3 class="home-h3">Set up your gifts</h3>
            <p>Choose from one of our customizable small gifts. We have everything from chocolates, flowers, to hand written notes. Don't see the gift you want? We'll source it for you!</p>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <h3 class="home-h3">Trigger your gifting</h3>
            <p>Supply your customer info and gift customizations via the Melt API. As soon as you issue an API request, Melt gets your gift ready to be mailed.</p>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <h3 class="home-h3">Get results</h3>
            <p>Afterwards, Melt monitors and tracks your customer's behavior so you can see your return on value and improved customer life-time value in realtime.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="how-it-works" class="white-div">
    <div class="w-section content">
      <div class="footer-sign-up-div">
        <h2>Interested in trying it out?</h2>
        <p class="header-paragraph">First twenty-five beta users receive a 15% discount, forever!</p>
        <div class="email-form footer-sign-up">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form">
              <input id="email-2" type="email" placeholder="Email" name="email-2" data-name="Email 2" required="required" class="w-input sign-up-form footer-sign-up-left">
              <input type="submit" data-wait="Please wait..." value="Request Beta Access" class="w-button sign-up-button footer-sign-up-button">
            </form>
            <div class="w-form-done success">
              <p>Thank you! We will be in contact soon regarding Beta access.</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section content footer-content">
    <div class="w-row">
      <div class="w-col w-col-6">
        <a href="index.html" class="w-clearfix w-inline-block logo"><%= image_tag("candy_piece of pie.png", height: "50", class: "logo-image") %>
          <div class="logo-text">Melt</div>
        </a>
      </div>
      <div class="w-col w-col-6">
        <p class="footer-paragraph">©2016 Melt API. All Rights Reserved.</p>
      </div>
    </div>
  </div>
