<%= render "general_top_nav" -%>

      <%= render "general_navigation" -%>

      <div class="dashboard-right">
        <div class="dashboard-right-top">
          <div data-delay="0" class="w-dropdown">
            <div class="w-dropdown-toggle environment-selector">
              <div class="environment-selector-text-box">TEST ENVIRONMENT</div>
              <div class="w-icon-dropdown-toggle"></div>
            </div>
            <nav class="w-dropdown-list environment-dropdown"><a href="#" class="w-dropdown-link live-environment-dropdown">LIVE ENVIRONMENT</a>
            </nav>
          </div>
        </div>
        <div class="dashboard-right-content">
          <h2 class="content-h2 margin-top-center">You have no Addresses added.</h2>
          <h4 class="content-h4 centered">Add addresses to your address book.</h4><a href="address-create.html" class="w-button content-button">Create new address</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "dashboard_footer" -%>
