<div class="w-clearfix dashboard-right-metrics">
  <h2 class="content-h2 right-header">Create a New Address</h2>
  <%= image_tag("icon-service-address.svg", class: "address-icon", width: 52) %>
</div>
<div class="dashboard-right-content thick-padding">

  <%= render 'form' %>

</div>
