<div class="w-section content footer-content">
  <div class="w-row">
    <div class="w-col w-col-6">
      <a href="index.html" class="w-clearfix w-inline-block logo"><%= image_tag("candy_piece of pie.png", height: "50", class: "logo-image") %>
      <div class="logo-text">Melt</div>
      </a>
    </div>
    <div class="w-col w-col-6">
      <p class="footer-paragraph">©2016 Melt API. All Rights Reserved.</p>
    </div>
  </div>
</div>
