<div id="how-it-works" class="tan-div">
  <div class="w-section content mid-content">
    <div class="w-clearfix">
      <p class="love-company-header">We &nbsp; &nbsp; &nbsp; Real Estate CRM, Inc.</p><%= image_tag("heart.png", width: "20", class: 'heart-icon') %>
  </div>
  <div class="w-clearfix dashboard-wrapper">

    <div class="dashboard-left">
      <div class="dashboard-left-div">
        <h4>General</h4>
        <a href="dashboard.html" class="dashboard-menu-link">Dashboard</a>
        <a href="address-book.html" class="dashboard-menu-link">Address Book</a>
        <a href="address-verification.html" class="dashboard-menu-link">Address Verification</a>
        <h4>Chocolates api</h4>
        <a href="chocolates-index.html" class="dashboard-menu-link">Chocolates</a>
        <h4>flowers api</h4>
        <a href="flowers.html" class="dashboard-menu-link">Flowers</a>
        <h4>requests</h4>
        <a href="logs-index.html" class="dashboard-menu-link">Logs</a>
        <a href="settings-general.html" class="dashboard-menu-link bottom-link">Settings</a>
      </div>
    </div>

