<div class="dashboard-right-metrics centered-metrics">
  <div class="w-row">
    <div class="w-col w-col-4">
      <div class="metric-one">
        <h2 class="metric-h2">$0.00</h2>
        <p class="metric-paragraph">Spent in February</p>
      </div>
    </div>
    <div class="w-col w-col-4">
      <div class="metric-two">
        <h2 class="metric-h2">0</h2>
        <p class="metric-paragraph">total transactions</p>
      </div>
    </div>
    <div class="w-col w-col-4">
      <div class="metric-three">
        <h2 class="metric-h2">$0.00</h2>
        <p class="metric-paragraph">total spent</p>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-right-content regular-padding">
  <h4 class="content-h4">charges</h4>
  <%= image_tag("Screen Shot 2016-02-23 at 1.10.23 AM.png", class: "filler-graph") %>
  <h4 class="content-h4">transactions</h4>
  <%= image_tag("Screen Shot 2016-02-23 at 1.10.23 AM.png", class: "filler-graph") %>
</div>

