<div class="w-section header">
  <div class="w-clearfix navbar">
    <%= link_to(root_path, class: "w-clearfix w-inline-block logo") do %>
      <%= image_tag("candy_piece of pie.png", height: "50", class: "logo-image") %>
      <div class="logo-text">Melt</div>
    <%end %>
    <div class="nav-menu">
      <div data-delay="0" data-hover="1" class="w-dropdown">
        <div class="w-dropdown-toggle username-drop-down">
          <div class="drop-down-text-box">Bob Smith</div>
          <div class="w-icon-dropdown-toggle"></div>
        </div>
        <nav class="w-dropdown-list drop-down-list"><a href="settings-general.html" class="w-dropdown-link drop-down-link">Settings</a><a href="index.html" class="w-dropdown-link drop-down-link">Sign Out</a>
        </nav>
      </div>
    </div>
  </div>
</div>

