<div class="dashboard-right-top">
  <div class="w-form-custom">
    <form id="" name="" class="w-clearfix environment-select-form">
      <select id="field" name="field" class="w-select environment-select-drop-down">
        <option value="TEST">TEST ENVIRONMENT</option>
        <option value="LIVE">LIVE ENVIRONMENT</option>
      </select>
    </form>
  </div>
</div>


