<div class="dashboard-left">
  <div class="dashboard-left-div">
    <h4>General</h4>
    <%= link_to "Dashboard", dashboard_path, class: "dashboard-menu-link" %>
    <%= link_to "Address Book", addresses_path, class: "dashboard-menu-link" %>
    <!-- <a href="address-verification.html" class="dashboard-menu-link">Address Verification</a> -->
    <h4>Chocolates api</h4>
    <a href="chocolates-index.html" class="dashboard-menu-link">Chocolates</a>
    <h4>flowers api</h4>
    <a href="flowers.html" class="dashboard-menu-link">Flowers</a>
    <h4>requests</h4>
    <a href="logs-index.html" class="dashboard-menu-link">Logs</a>
    <a href="settings-general.html" class="dashboard-menu-link bottom-link">Settings</a>
  </div>
</div>
