<div class="dashboard-right-top">
  <div data-delay="0" class="w-dropdown">
    <div class="w-dropdown-toggle environment-selector">
      <div class="environment-selector-text-box">TEST ENVIRONMENT
      </div>
      <div class="w-icon-dropdown-toggle">
      </div>
    </div>
    <nav class="w-dropdown-list environment-dropdown">
      <a href="#" class="w-dropdown-link live-environment-dropdown">LIVE ENVIRONMENT</a>
    </nav>
  </div>
</div>

